*, *::before, *::after {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Audiowide', cursive;
}

body {
    padding: 0;
    margin: 0;
    background: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh;
    min-width: 100vw; */
    overflow: hidden;
}

#body-layer {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.685);
}

h1 {
    position: absolute;
    color: rgba(255, 255, 255, 0.76);
    font-size: 3rem;
}

#title {
    top: 40%;
    left: 5%;
}

#sub-title {
    top: 40%;
    right: 5%;
}

.calculator-grid {
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background: linear-gradient(145deg, rgb(53, 53, 53), rgba(90, 90, 90, 0.867));
    padding: 20px 15px 7.5px 15px;
    border-radius: 7.5px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid grey;
    border-radius: 15%;
    outline: none;
    background: rgba(255, 255, 255, .75);
    margin: 5px;
}

#clear, #delete {
    background: rgb(202, 39, 17);
}

#clear:hover, #delete:hover {
    background: rgb(238, 8, 8);
}

.calculator-grid > button:hover {
    background: rgba(255, 255, 255, .95);
}

#clear, #equals {
    grid-column: span 2;
    border-radius: 10px;
}

.output {
    grid-column: span 4;
    background: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.25rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 2.25rem;
}